body{
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    background-image: url('https://avatars.mds.yandex.net/i?id=399c00df6fc5957b377a2c4328fb1164_l-5341088-images-thumbs&ref=rim&n=13&w=1449&h=724');
    background-size: 100% 100%;
}


nav{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    gap: 15px;
    
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 100%;

}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

img {
    width: 100%;
    height: 90%;
}

h3 a {
    text-decoration: none;
    color: aliceblue;
}

h3 a:hover {
    color: rgb(240, 195, 195);
    transition: all 0.3s ease;
    
}
 @media(max-width: 768px){
            
            .nav{
                height: 230vh ;
                display: flex;
                align-items: flex-start;
                padding-top: 40px;

            }
        }


















